.full-container {
  display: flex;
  flex-direction: column;
}

.outer-show-container {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--background-color);
}

.banner-container {
  background-color: var(--container-color);
  margin: 2rem 2rem 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: var(--border-radius);
}

.list-container {
  --items: 2;

  display: grid;
  grid-template-columns: repeat(var(--items), 1fr);
  gap: var(--gap);
  margin: 1.5rem 2rem 2rem;
}

.list-container-edit {
  user-select: none;
}