.list-item,
.list-item-edit {
  border-radius: var(--border-radius);
  box-shadow: var(--light-box-shadow);
}

.list-item {
  position: relative;
  background-color: var(--container-color);
}

.list-item-edit {
  background-color: var(--editor-color);
}